@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
  min-height: 2000px; /* Seite länger als der Bildschirm */
  margin: 0;
  padding: 0;
  overflow-y: auto; /* Scrollen erlaubt */
}

.streifen{
  height: 100px;
  width: 100%;
  background: #4b134f;
  text-align: center;
  align-content: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: white;
}

.tiktok-icon {
  width: 60px;
  position: absolute;
  top: 36px;
  left: 1350px;
  cursor: pointer;
}

.instagram-icon {
  width: 60px;
  position: absolute;
  top: 25px;
  left: 1275px;
  cursor: pointer;
}

.Überschrift{
  font-family: Arial, sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 140px;
  left: 5%;
}
.suchleiste input{
  width: 1100px;
  height: 100px;
  padding-left: 20px;
  background-color: lightgrey;
  border: 1px solid dimgray;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 5%;

}
.suchleiste input:focus{
  border-color: #4b134f;
}
.suchleiste :hover{
  background-color: hsl(296, 61%, 30%);
}

.location-btn {
  position: absolute;
  top: 22%;
  left: 85%;
  height: 80px;
  width: 85px;
  background-color: #4b134f;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;

}

.location-btn img {
  height: 40px;
  width: 40px;
}

.location-btn:hover {
  background-color: lightgray;
  color: black;
}
.Entfernung {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 300px;
  left: 5%;
}

.dropbtn {
  background-color: #4b134f;
  color: white;
  padding: 20px 30px ;
  margin-top: 220px;
border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;


}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: lightgray;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 5%;
  z-index: 1000;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2000;
  border-radius: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.Öffnungszeit {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 300px;
  left: 25%;
}

.dropbtn2 {
  background-color: #4b134f;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Hover-Effekt */
.dropbtn2:hover, .dropbtn2:focus {
  background-color: lightgray;
}

/* Container */
.dropdown2 {
  position: relative; /* wichtig: Dropdown-Liste wird relativ zum Button positioniert */
  display: inline-block;
  margin-left: 13%;  /* Abstand von links */
  margin-top: 25px; /* Abstand nach oben */
  z-index: 1000;
}

/* Dropdown-Inhalt */
.dropdown-content2 {
  display: none;
  position: absolute;  /* relativ zum Container .dropdown2 */
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 2000;
  border-radius: 15px;
}

/* Links */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {
  background-color: #ddd;
}

.Bankart {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 300px;
  left: 47%;
}

.dropbtn3 {
  background-color: #4b134f;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Hover-Effekt */
.dropbtn3:hover, .dropbtn2:focus {
  background-color: lightgray;
}

/* Container */
.dropdown3 {
  position: relative; /* wichtig: Dropdown-Liste wird relativ zum Button positioniert */
  display: inline-block;
  margin-left: 13%;  /* Abstand von links */
  margin-top: 25px; /* Abstand nach oben */
  z-index: 1000;
}

/* Dropdown-Inhalt */
.dropdown-content3 {
  display: none;
  position: absolute;  /* relativ zum Container .dropdown2 */
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 2000;
  border-radius: 15px;
}

/* Links */
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content3 a:hover {
  background-color: #ddd;
}

/* Sichtbar machen via JS */
.show {
  display: block;
}

#map {
  height: 500px;
  width: 90%;
  margin: 100px auto 50px auto; /* Abstand nach oben, mittig zentriert */
  border: 2px solid #4b134f;
  border-radius: 10px;}


