@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

body {
  min-height: 2000px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.streifen{
  height: 100px;
  width: 100%;
  background: #4b134f;
  text-align: center;
  align-content: center;
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: white;
}

.tiktok-icon {
  width: 60px;
  position: absolute;
  top: 36px;
  left: 1350px;
  cursor: pointer;
}

.instagram-icon {
  width: 60px;
  position: absolute;
  top: 25px;
  left: 1288px;
  cursor: pointer;
}

.linkedIn-icon{
  width: 60px;
  position: absolute;
  top: 25px;
  left: 1210px;
  cursor: pointer;
}

.Sparkasse-icon{
  width: 45px;
  position: absolute;
  top: 20px;
  left: 45px;
  cursor: pointer;
}

.Überschrift{
  font-family: Arial, sans-serif;
  color: black;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 140px;
  left: 5%;
}
.suchleiste input{
  width: 1100px;
  height: 100px;
  padding-left: 20px;
  background-color: #815A83;
  border: 1px solid dimgray;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 20%;
  left: 5%;

}
.suchleiste input:focus{
  border-color: #4b134f;
}
.suchleiste :hover{
  background-color: hsl(0, 0%, 83%);
}

.standortbutton {
  position: absolute;
  top: 22%;
  left: 85%;
  height: 80px;
  width: 85px;
  background-color:  #4b134f;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.standortbutton img {
  height: 40px;
  width: 40px;
}

.standortbutton:hover {
  background-color: lightgray;
  color: black;
}

.standort {
  position: absolute;
  top: 22%;
  left: 85%;
}

.standort-kästchen {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 8px;
  background-color: #4b134f;
  color: white;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 8px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 9999;
}

/* Pfeil */
.standort-kästchen::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: #4b134f transparent transparent transparent;
}


.standortbutton:hover + .standort-kästchen {
  opacity: 1;
  pointer-events: auto;
}
.Entfernung {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
  margin-top: 200px;
  margin-left: 5%;
}

.entfernung-feld {
  width: 160px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #4b134f;
  font-size: 16px;
  position: absolute;
  top: 40%;
  left: 5%;
}

.Öffnungszeit {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 300px;
  left: 25%;
}

.Oeffnungszeiten{
  position: absolute;
  top: 335px;
  left: 25%;
  display: inline-block;
}

.oeffnungszeit-feld {
  width: 160px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #4b134f;
  font-size: 16px;
}

.clock-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.Bankart {
  font-family: Arial, sans-serif;
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  top: 300px;
  left: 47%;
}

.dropbtn {
  background-color: #4b134f;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Hover-Effekt */
.dropbtn:hover, .dropbtn2:focus {
  background-color: lightgray;
}

/* Container */
.dropdown {
  display: inline-block;
  position: absolute;
  top: 39%;
  left: 47%;
  z-index: 1000;
}

/* Dropdown-Inhalt */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 2000;
  border-radius: 15px;
}

/* Links */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Sichtbar machen via JS */
.show {
  display: block;
}


.seitenpanel-btn {
  position: fixed;
  top: 115px;
  left: 500px;
  z-index: 1050;

  background-color: #4b134f !important;
  color: white !important;
  border: none !important;
  border-radius: 6px;
  padding: 10px 20px;
}

.seitenpanel-btn:hover {
  background-color: #815A83 !important;
  color: white !important;
}



.seitenpanel {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background: #815A83;
  border-left: 1px solid #ccc;
  padding: 20px;
  overflow-y: auto;
  transition: right 0.35s ease;
  z-index: 2000;
}

.seitenpanel.offen {
  right: 0;
}


.geldautomatKarte {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

#map {
  height: 500px;
  width: 90%;
  margin: 100px auto 50px auto;
  border: 2px solid #4b134f;
  border-radius: 10px;}


